body {
    background-color: #2b2c2f;
}

.button-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
}

button {
    width: 100%;
    margin-bottom: 4px;
    color: #fff !important;
}

button:last-child {
    margin-bottom: 0;
}